<!-- @format -->

<% layout('campgrounds/layouts/boilerplate') %>

<div class="card">
  <img
    src="<%= campground.img_url %>"
    class="card-img-top"
    style="height: 300px; object-fit: contain"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title"><%= campground.title %></h5>
    <p class="card-text"><%= campground.description %></p>
    <p class="card-text">
      <small class="text-muted"><%= campground.location %></small>
    </p>
  </div>
  <div class="card-body">
    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary"
      >Edit Campgrounds</a
    >
    <a href="/campgrounds" class="btn btn-primary">All campgrounds</a>

    <form
      action="/campgrounds/<%= campground._id %>?_method=DELETE"
      method="POST"
      class="d-inline"
    >
      <button class="btn btn-danger">Delete Campgrounds</button>
    </form>
  </div>
</div>
