<% layout('layout/boilerplate') -%>

    <h2>All Campgrounds</h2>
    <% for(let campground of campgrounds) { %>

        <div class="card mb-3">
            <div class=" row g-0">
                <div class="col-md-4">
                    <img src="<%= campground.image %>" class="img-fluid h-100 rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href='/campground/<%= campground._id %>'>
                                <%= campground.title %>
                            </a>
                        </h5>
                        <p class="card-text mb-2">
                            <%= campground.description %>
                        </p>
                        <p class="card-text mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                            <%= campground.location %>
                        </p>
                        <p class="card-text mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path
                                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                            </svg>
                            <%= campground.price %>
                        </p>
                        <p class="card-text mb-2"><small class="text-body-secondary">Last updated 3 mins ago</small>
                        </p>
                        <a href="/campground/<%= campground._id %>/edit" class="btn btn-primary">Edit campground</a>

                        <form class="d-inline-block" action="/campground/<%= campground._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger" type="submit">Delete Campground</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% } %>